openapi: 3.2.0
info:
  title: Lambda Cloud Fabric API
  version: 1.10.0
  description: 'The Lambda Cloud API provides a set of REST API endpoints you can use to create

    and manage your Lambda Cloud resources.'
servers:
- url: https://cloud.lambda.ai/
  description: Production server
- url: https://cloud.lambdalabs.com/
  description: Secondary production server (deprecated)
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Fabric
paths:
  /api/v1/fabric:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/FabricPartition'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Fabric
      summary: Create partition
      description: Creates a new partition in a region.
      operationId: createFabricPartition
      requestBody:
        content:
          application/json:
            schema:
              description: Request to create a new fabric partition.
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 32
                  pattern: ^[a-z0-9][a-z0-9-]{0,31}$
                  description: The human-readable identifier for the new partition.
                  examples:
                  - training-one
                region:
                  type: string
                  description: The region in which the partition will be created.
                workspace_id:
                  type: string
                  example: ddaedf1b7a0e41ac981711504493b242
                  description: 'The ID of the workspace to create the partition in. If not specified,

                    the default workspace will be used.'
              required:
              - name
              - region
              title: CreateFabricPartitionRequest
              type: object
        required: true
  /api/v1/fabric/{id}:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/FabricPartition'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Fabric
      summary: Update partition
      description: Updates a partition's details.
      operationId: updateFabricPartition
      parameters:
      - name: id
        in: path
        description: The unique identifier (ID) of the partition
        required: true
        schema:
          description: The unique identifier (ID) of the partition
          example: 43336648-096d-4cba-9aa2-f9bb7727639d
          type: string
        example: 43336648-096d-4cba-9aa2-f9bb7727639d
      requestBody:
        content:
          application/json:
            schema:
              description: Request to update an existing fabric partition.
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 32
                  pattern: ^[a-z0-9][a-z0-9-]{0,31}$
                  description: The new human-readable identifier for the partition.
                  examples:
                  - training-one
              required:
              - name
              title: UpdateFabricPartitionRequest
              type: object
        required: true
    delete:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Fabric
      summary: Delete partition
      description: Deletes a partition. This will return a 400 error unless there are no instances currently assigned to the partition.
      operationId: deleteFabricPartition
      parameters:
      - name: id
        in: path
        description: The unique identifier (ID) of the partition
        required: true
        schema:
          description: The unique identifier (ID) of the partition
          example: 43336648-096d-4cba-9aa2-f9bb7727639d
          type: string
        example: 43336648-096d-4cba-9aa2-f9bb7727639d
components:
  schemas:
    ApiErrorAccountInactive:
      type: object
      properties:
        code:
          const: global/account-inactive
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Your account is inactive.
          description: A description of the error.
        suggestion:
          type: string
          default: Make sure you have verified your email address and have a valid payment method. Contact Support if problems continue.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorAccountInactive
    ApiErrorUnauthorized:
      type: object
      properties:
        code:
          const: global/invalid-api-key
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: API key was invalid, expired, or deleted.
          description: A description of the error.
        suggestion:
          type: string
          default: Check your API key or create a new one, then try again.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorUnauthorized
    ApiErrorNotFound:
      type: object
      properties:
        code:
          const: global/not-found
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: The requested resource was not found.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorNotFound
    ApiErrorInvalidParameters:
      type: object
      properties:
        code:
          const: global/invalid-parameters
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Invalid request data.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorInvalidParameters
    EmptyResponse:
      type: object
      properties: {}
      title: EmptyResponse
    Region:
      type: object
      properties:
        name:
          type: string
          description: The region code.
        description:
          type: string
          description: The region description.
      required:
      - name
      - description
      title: Region
    FabricPartition:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier (ID) for the partition.
          examples:
          - 43336648-096d-4cba-9aa2-f9bb7727639d
        created:
          type: string
          format: date-time
          description: The date and time at which the partition was created.
        name:
          type: string
          description: The human-readable identifier for the partition.
          examples:
          - training-one
        workspace_id:
          type: string
          example: ddaedf1b7a0e41ac981711504493b242
          description: The ID of the workspace the partition is in.
          examples:
          - 232582c7ff041399e34823a0be62554
        region:
          $ref: '#/components/schemas/Region'
          description: The region in which this partition exists.
      required:
      - id
      - created
      - name
      - workspace_id
      - region
      title: FabricPartition
      description: A partition of the compute fabric.
  securitySchemes:
    basicAuth:
      type: http
      description: 'Basic HTTP authentication. Allowed headers:

        * `Authorization: Basic <base64 encoding of api_key>:`

        * `Authorization: Basic <api_key>`'
      scheme: basic
    bearerAuth:
      type: http
      description: 'Bearer HTTP authentication. Allowed headers:

        * `Authorization: Bearer <api_key>`'
      scheme: bearer
x-lambda-api-keys-config-url: https://cloud.lambda.ai/api-keys
