openapi: 3.2.0
info:
  title: Lambda Cloud Audit Events API
  version: 1.10.0
  description: 'The Lambda Cloud API provides a set of REST API endpoints you can use to create

    and manage your Lambda Cloud resources.'
servers:
- url: https://cloud.lambda.ai/
  description: Production server
- url: https://cloud.lambdalabs.com/
  description: Secondary production server (deprecated)
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Audit Events
paths:
  /api/v1/audit-events:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEvent'
                  page_token:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Provide this token in your next request to retrieve the next page of results. If there are no additional pages, this field has a null value.
                    examples:
                    - eyJuZXh0IjoxNzA0MTk2ODAwfQ==
                required:
                - data
                - page_token
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Audit Events
      summary: Get audit events
      description: Retrieves a list of audit events that have occurred in your account. To view the full catalog of possible audit events, visit Access and security > Audit logs in the Lambda Cloud documentation.
      operationId: getAuditEvents
      parameters:
      - name: start
        in: query
        description: An ISO 8601 timestamp defining the start of the time range to query, inclusive. If omitted, the response starts at the earliest available event.
        required: false
        schema:
          description: An ISO 8601 timestamp defining the start of the time range to query, inclusive. If omitted, the response starts at the earliest available event.
          example: '2025-09-01T10:30:45.123456Z'
          format: date-time
          type: string
        example: '2025-09-01T10:30:45.123456Z'
      - name: end
        in: query
        description: An ISO 8601 timestamp defining the end of the time range to query, inclusive. If omitted, the response ends at the most recent event.
        required: false
        schema:
          description: An ISO 8601 timestamp defining the end of the time range to query, inclusive. If omitted, the response ends at the most recent event.
          example: '2025-09-15T10:30:45.123456Z'
          format: date-time
          type: string
        example: '2025-09-15T10:30:45.123456Z'
      - name: page_token
        in: query
        description: The token returned by the previous API response to retrieve the next page of results.
        required: false
        schema:
          description: The token returned by the previous API response to retrieve the next page of results.
          example: abCdEFg0h1I2jKlm34n5O6Pq78r=
          type: string
        example: abCdEFg0h1I2jKlm34n5O6Pq78r=
      - name: resource_type
        in: query
        description: The resource type to filter by. By default, all available resource types are retrieved.
        required: false
        schema:
          description: The resource type to filter by. By default, all available resource types are retrieved.
          example: cloud.api_key
          type: string
        example: cloud.api_key
components:
  schemas:
    ApiErrorAccountInactive:
      type: object
      properties:
        code:
          const: global/account-inactive
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Your account is inactive.
          description: A description of the error.
        suggestion:
          type: string
          default: Make sure you have verified your email address and have a valid payment method. Contact Support if problems continue.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorAccountInactive
    ApiErrorUnauthorized:
      type: object
      properties:
        code:
          const: global/invalid-api-key
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: API key was invalid, expired, or deleted.
          description: A description of the error.
        suggestion:
          type: string
          default: Check your API key or create a new one, then try again.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorUnauthorized
    ApiErrorNotFound:
      type: object
      properties:
        code:
          const: global/not-found
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: The requested resource was not found.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorNotFound
    ApiErrorInvalidParameters:
      type: object
      properties:
        code:
          const: global/invalid-parameters
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Invalid request data.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorInvalidParameters
    AuditEvent:
      type: object
      properties:
        service_name:
          type: string
          description: The service in which the action was performed.
          examples:
          - cloud
        resource_name:
          type: string
          description: The type of resource that was affected.
          examples:
          - api_key
        action:
          type: string
          description: The action that was performed.
          examples:
          - created
        catalog_version:
          type: string
          description: The version of the event catalog schema.
          examples:
          - '2025-09-06'
        event_id:
          type: string
          description: The unique identifier (ID) for this audit event.
          examples:
          - 0123456789abcdef0123456789abcdef
        event_time:
          type: string
          description: The UTC timestamp for when the event occurred (ISO 8601 format).
          examples:
          - '2025-09-15T10:30:45.123456Z'
        actor_lrn:
          anyOf:
          - type: string
          - type: 'null'
          description: The Lambda Resource Name (LRN) of the actor who performed the action.
          examples:
          - lrn:cloud:identity:00112233445566778899aabbccddeeff
        resource_lrns:
          type: array
          items:
            type: string
          description: The Lambda Resource Names (LRNs) of the resources affected by this action.
          examples:
          - - lrn:cloud:api_key:ffeeddccbbaa99887766554433221100
        resource_owner_lrn:
          anyOf:
          - type: string
          - type: 'null'
          description: The Lambda Resource Name (LRN) of the account that owns the affected resources.
          examples:
          - lrn:cloud:account:fedcba9876543210fedcba9876543210
        request_api_key_lrn:
          anyOf:
          - type: string
          - type: 'null'
          description: The Lambda Resource Name (LRN) of the API key used to authenticate the request, if applicable.
          examples:
          - lrn:cloud:api_key:0f1e2d3c4b5a69788796a5b4c3d2e1f0
        additional_details:
          type: object
          additionalProperties: true
          description: Additional event-specific details. The exact keys returned vary by event type.
          properties: {}
          examples:
          - api_key_lrn: lrn:cloud:api_key:ffeeddccbbaa99887766554433221100
          - ssh_key_lrn: lrn:cloud:ssh_key:fedc7654ba983210dcba5432987610fe
          - instance_lrn: lrn:cloud:instance:ef016789234abcd0123489ab4567cdef
            instance_type: gpu_1x_a10
            region: us-west-1
      required:
      - service_name
      - resource_name
      - action
      - catalog_version
      - event_id
      - event_time
      - actor_lrn
      - resource_lrns
      - resource_owner_lrn
      - request_api_key_lrn
      - additional_details
      title: AuditEvent
      description: 'Audit event in the account''s audit log. To view the full catalog of

        possible audit events, visit

        [Access and security > Audit logs](https://docs.lambda.ai/public-cloud/access-security#audit-logs)

        in the Lambda Cloud documentation.'
  securitySchemes:
    basicAuth:
      type: http
      description: 'Basic HTTP authentication. Allowed headers:

        * `Authorization: Basic <base64 encoding of api_key>:`

        * `Authorization: Basic <api_key>`'
      scheme: basic
    bearerAuth:
      type: http
      description: 'Bearer HTTP authentication. Allowed headers:

        * `Authorization: Bearer <api_key>`'
      scheme: bearer
x-lambda-api-keys-config-url: https://cloud.lambda.ai/api-keys
