openapi: 3.2.0
info:
  title: Lambda Cloud Filesystems API
  version: 1.10.0
  description: 'The Lambda Cloud API provides a set of REST API endpoints you can use to create

    and manage your Lambda Cloud resources.'
servers:
- url: https://cloud.lambda.ai/
  description: Production server
- url: https://cloud.lambdalabs.com/
  description: Secondary production server (deprecated)
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Filesystems
paths:
  /api/v1/file-systems:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Filesystem'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Filesystems
      summary: List filesystems
      description: Retrieves a list of your filesystems.
      operationId: listFilesystems
  /api/v1/filesystems:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/Filesystem'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    anyOf:
                    - $ref: '#/components/schemas/ApiErrorDuplicate'
                    - $ref: '#/components/schemas/ApiErrorQuotaExceeded'
                    - $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    anyOf:
                    - $ref: '#/components/schemas/ApiErrorAccountInactive'
                    - $ref: '#/components/schemas/ApiErrorInvalidBillingAddress'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorNotFound'
                required:
                - error
                type: object
      tags:
      - Filesystems
      summary: Create filesystem
      description: Creates a new filesystem.
      operationId: createFilesystem
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 60
                  pattern: ^[a-zA-Z]+[0-9a-zA-Z-]*$
                  description: The name of the filesystem.
                  examples:
                  - my-filesystem
                region:
                  type: string
                  description: The region in which you want to create the filesystem.
                  examples:
                  - us-west-1
              required:
              - name
              - region
              title: FilesystemCreateRequest
              type: object
        required: true
  /api/v1/filesystems/{id}:
    delete:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/FilesystemDeleteResponse'
                required:
                - data
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    anyOf:
                    - $ref: '#/components/schemas/ApiErrorFilesystemInUse'
                    - $ref: '#/components/schemas/ApiErrorInvalidParameters'
                required:
                - error
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorUnauthorized'
                required:
                - error
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorAccountInactive'
                required:
                - error
                type: object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  error:
                    $ref: '#/components/schemas/ApiErrorFilesystemNotFound'
                required:
                - error
                type: object
      tags:
      - Filesystems
      summary: Delete filesystem
      description: Deletes the filesystem with the specified ID. The filesystem must not be mounted to any running instances at the time of deletion.
      operationId: filesystemDelete
      parameters:
      - name: id
        in: path
        description: The unique identifier (ID) of the filesystem to delete
        required: true
        schema:
          description: The unique identifier (ID) of the filesystem to delete
          example: 398578a2336b49079e74043f0bd2cfe8
          type: string
        example: 398578a2336b49079e74043f0bd2cfe8
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the user.
          examples:
          - 3da5a70a57a7422ea8a7203f98b2198b
        email:
          type: string
          description: The email address of the user.
          examples:
          - me@example.com
        status:
          $ref: '#/components/schemas/UserStatus'
          description: The status of the user's account.
      required:
      - id
      - email
      - status
      title: User
      description: Information about a user in your Team.
    ApiErrorAccountInactive:
      type: object
      properties:
        code:
          const: global/account-inactive
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Your account is inactive.
          description: A description of the error.
        suggestion:
          type: string
          default: Make sure you have verified your email address and have a valid payment method. Contact Support if problems continue.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorAccountInactive
    ApiErrorUnauthorized:
      type: object
      properties:
        code:
          const: global/invalid-api-key
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: API key was invalid, expired, or deleted.
          description: A description of the error.
        suggestion:
          type: string
          default: Check your API key or create a new one, then try again.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorUnauthorized
    ApiErrorFilesystemInUse:
      type: object
      properties:
        code:
          const: filesystems/filesystem-in-use
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorFilesystemInUse
    ApiErrorNotFound:
      type: object
      properties:
        code:
          const: global/not-found
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: The requested resource was not found.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorNotFound
    Filesystem:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier (ID) of the filesystem.
          examples:
          - 398578a2336b49079e74043f0bd2cfe8
        name:
          type: string
          description: The name of the filesystem.
          examples:
          - my-filesystem
        mount_point:
          type: string
          description: 'The DEFAULT absolute path indicating where on instances the filesystem will be mounted.

            If `file_system_mounts` were used at launch time, the actual mount point is in the

            instance response.'
          examples:
          - /lambda/nfs/my-filesystem
        created:
          type: string
          format: date-time
          description: The date and time at which the filesystem was created. Formatted as an ISO 8601 timestamp.
        created_by:
          $ref: '#/components/schemas/User'
          description: The user in your Team that created the filesystem.
        is_in_use:
          type: boolean
          description: 'Whether the filesystem is currently mounted to an instance. Filesystems that

            are mounted cannot be deleted.'
        region:
          $ref: '#/components/schemas/Region'
          description: The region in which the filesystem is deployed.
        bytes_used:
          type: integer
          description: 'The approximate amount of storage used by the filesystem in bytes. This estimate is

            updated every few hours.'
      required:
      - id
      - name
      - mount_point
      - created
      - created_by
      - is_in_use
      - region
      title: Filesystem
      description: Information about a shared filesystem.
    FilesystemDeleteResponse:
      type: object
      properties:
        deleted_ids:
          type: array
          items:
            type: string
          description: The unique identifiers of the filesystems that were deleted.
          examples:
          - - 398578a2336b49079e74043f0bd2cfe8
      required:
      - deleted_ids
      title: FilesystemDeleteResponse
    ApiErrorInvalidParameters:
      type: object
      properties:
        code:
          const: global/invalid-parameters
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Invalid request data.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorInvalidParameters
    ApiErrorFilesystemNotFound:
      type: object
      properties:
        code:
          const: global/object-does-not-exist
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Filesystem was not found.
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorFilesystemNotFound
    ApiErrorQuotaExceeded:
      type: object
      properties:
        code:
          const: global/quota-exceeded
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Quota exceeded.
          description: A description of the error.
        suggestion:
          type: string
          default: Contact Support to increase your quota.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorQuotaExceeded
    UserStatus:
      title: UserStatus
      description: Status of the user's account.
      enum:
      - active
      - deactivated
      type: string
    Region:
      type: object
      properties:
        name:
          type: string
          description: The region code.
        description:
          type: string
          description: The region description.
      required:
      - name
      - description
      title: Region
    ApiErrorInvalidBillingAddress:
      type: object
      properties:
        code:
          const: global/invalid-address
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          default: Your billing address is invalid.
          description: A description of the error.
        suggestion:
          type: string
          default: Make sure your billing address is valid. Contact Support if problems continue.
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      - suggestion
      title: ApiErrorInvalidBillingAddress
    ApiErrorDuplicate:
      type: object
      properties:
        code:
          const: global/duplicate
          type: string
          description: The unique identifier for the type of error.
        message:
          type: string
          description: A description of the error.
        suggestion:
          type: string
          description: One or more suggestions of possible ways to fix the error.
      required:
      - code
      - message
      title: ApiErrorDuplicate
  securitySchemes:
    basicAuth:
      type: http
      description: 'Basic HTTP authentication. Allowed headers:

        * `Authorization: Basic <base64 encoding of api_key>:`

        * `Authorization: Basic <api_key>`'
      scheme: basic
    bearerAuth:
      type: http
      description: 'Bearer HTTP authentication. Allowed headers:

        * `Authorization: Bearer <api_key>`'
      scheme: bearer
x-lambda-api-keys-config-url: https://cloud.lambda.ai/api-keys
